# .gitignore - special file for Git telling it which files to ignore when committing changes to the repository

# Ignore log files
*.log

# Ignore IDE and tool settings
.vscode/
.claude/
.claudeignore
.gemini/
.copilot/

# Ignore temporary files
*.tmp
WIP.html

# Ignore environment variable files
.env
.env.*
/env/**

# Ignore all data files except the one that's tracked
# Example: .csv
# Example: !sample-data.csv
.csv
.xls
.xlsx
.json
!/samples/**